openapi: 3.2.0
info:
  title: SoftwareOne Marketplace Platform Items API
  version: 1.0.0
  summary: Programmatic access to the SoftwareOne Marketplace catalog, products, items, listings, parameters, and media.
  description: 'The SoftwareOne Marketplace Platform API exposes REST endpoints for vendors and

    clients to manage catalog products, items, listings, parameters, and media.

    This specification covers the publicly documented Catalog API surface described at

    docs.platform.softwareone.com/developer-resources/rest-api/catalog-api.


    Authentication uses an API token sent in the Authorization header with the Bearer prefix.

    All requests must be made over HTTPS.

    '
  contact:
    name: SoftwareOne Platform Documentation
    url: https://docs.platform.softwareone.com/
servers:
- url: https://api.platform.softwareone.com
  description: SoftwareOne Marketplace Platform production API
security:
- bearerAuth: []
tags:
- name: Items
  description: Catalog item lifecycle management
paths:
  /catalog/items:
    get:
      tags:
      - Items
      summary: List items
      operationId: listItems
      responses:
        '200':
          description: Collection of items
    post:
      tags:
      - Items
      summary: Create item
      operationId: createItem
      responses:
        '201':
          description: Item created
  /catalog/items/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Items
      summary: Retrieve item
      operationId: getItem
      responses:
        '200':
          description: Item details
    put:
      tags:
      - Items
      summary: Update item
      operationId: updateItem
      responses:
        '200':
          description: Item updated
    delete:
      tags:
      - Items
      summary: Delete item
      operationId: deleteItem
      responses:
        '204':
          description: Item removed
  /catalog/items/{id}/publish:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      tags:
      - Items
      summary: Publish item
      operationId: publishItem
      responses:
        '200':
          description: Item published
  /catalog/items/{id}/unpublish:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      tags:
      - Items
      summary: Unpublish item
      operationId: unpublishItem
      responses:
        '200':
          description: Item unpublished
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Token
      description: 'API token sent as ''Authorization: Bearer {TOKEN}'' over HTTPS.'
