openapi: 3.2.0
info:
  title: SoftwareOne Marketplace Platform Media API
  version: 1.0.0
  summary: Programmatic access to the SoftwareOne Marketplace catalog, products, items, listings, parameters, and media.
  description: 'The SoftwareOne Marketplace Platform API exposes REST endpoints for vendors and

    clients to manage catalog products, items, listings, parameters, and media.

    This specification covers the publicly documented Catalog API surface described at

    docs.platform.softwareone.com/developer-resources/rest-api/catalog-api.


    Authentication uses an API token sent in the Authorization header with the Bearer prefix.

    All requests must be made over HTTPS.

    '
  contact:
    name: SoftwareOne Platform Documentation
    url: https://docs.platform.softwareone.com/
servers:
- url: https://api.platform.softwareone.com
  description: SoftwareOne Marketplace Platform production API
security:
- bearerAuth: []
tags:
- name: Media
  description: Product media assets
paths:
  /catalog/products/{productId}/media:
    parameters:
    - name: productId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Media
      summary: List media for a product
      operationId: listProductMedia
      responses:
        '200':
          description: Collection of media
  /catalog/media:
    post:
      tags:
      - Media
      summary: Upload media
      operationId: createMedia
      responses:
        '201':
          description: Media created
  /catalog/media/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Media
      summary: Retrieve media
      operationId: getMedia
      responses:
        '200':
          description: Media details
    put:
      tags:
      - Media
      summary: Update media
      operationId: updateMedia
      responses:
        '200':
          description: Media updated
    delete:
      tags:
      - Media
      summary: Delete media
      operationId: deleteMedia
      responses:
        '204':
          description: Media removed
  /catalog/media/{id}/publish:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      tags:
      - Media
      summary: Publish media
      operationId: publishMedia
      responses:
        '200':
          description: Media published
  /catalog/media/{id}/unpublish:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      tags:
      - Media
      summary: Unpublish media
      operationId: unpublishMedia
      responses:
        '200':
          description: Media unpublished
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Token
      description: 'API token sent as ''Authorization: Bearer {TOKEN}'' over HTTPS.'
